{% extends "base.html" %}

{% block css %}
  <link rel='stylesheet'
        href='https://unpkg.com/maplibre-gl@4.5.0/dist/maplibre-gl.css' />
  {% comment %} <link href='https://api.mapbox.com/mapbox-gl-js/v3.5.1/mapbox-gl.css' rel='stylesheet' /> {% endcomment %}
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    html,
    body,
    #map {
      height: 100%;
    }
  </style>
  {{ block.super }}
{% endblock css %}
{% block javascript %}
  <script src='https://unpkg.com/maplibre-gl@4.5.0/dist/maplibre-gl.js'></script>
  {{ block.super }}
  {% comment %} <script src='https://api.mapbox.com/mapbox-gl-js/v3.5.1/mapbox-gl.js'></script> {% endcomment %}
{% endblock javascript %}
{% block pre_main %}
  {% comment %} <div class="container mt-5">
    <div class="row">
        <p> Inspect Property @ address: {{address}}</p>
    </div>
  </div> {% endcomment %}
  <script src="https://unpkg.com/@maplibre/maplibre-gl-geocoder@1.5.0/dist/maplibre-gl-geocoder.min.js"></script>
  <link rel="stylesheet"
        href="https://unpkg.com/@maplibre/maplibre-gl-geocoder@1.5.0/dist/maplibre-gl-geocoder.css" />
  <div id="map"></div>
{% endblock pre_main %}
{% block inline_javascript %}
  <script type="text/javascript">
    const MAPTILER_KEY = '9RMKn0wWeaBwoCAnR7NR';
    const map = new maplibregl.Map({
      style: `https://api.maptiler.com/maps/basic-v2/style.json?key=${MAPTILER_KEY}`,
      center: [-74.0066, 40.7135],
      zoom: 15.5,
      pitch: 45,
      bearing: -17.6,
      container: 'map',
      antialias: true
    });
    const geocoderApi = {
      forwardGeocode: async (config) => {
        const features = [];
        try {
          const request =
            `https://nominatim.openstreetmap.org/search?q=${config.query
                  }&format=geojson&polygon_geojson=1&addressdetails=1`;
          const response = await fetch(request);
          const geojson = await response.json();
          for (const feature of geojson.features) {
            const center = [
              feature.bbox[0] +
              (feature.bbox[2] - feature.bbox[0]) / 2,
              feature.bbox[1] +
              (feature.bbox[3] - feature.bbox[1]) / 2
            ];
            const point = {
              type: 'Feature',
              geometry: {
                type: 'Point',
                coordinates: center
              },
              place_name: feature.properties.display_name,
              properties: feature.properties,
              text: feature.properties.display_name,
              place_type: ['place'],
              center
            };
            features.push(point);
          }
        } catch (e) {
          console.error(`Failed to forwardGeocode with error: ${e}`);
        }

        return {
          features
        };
      }
    };

    // The 'building' layer in the streets vector source contains building-height
    // data from OpenStreetMap.
    map.on('load', () => {
      // Insert the layer beneath any symbol layer.
      const layers = map.getStyle().layers;

      let labelLayerId;
      for (let i = 0; i < layers.length; i++) {
        if (layers[i].type === 'symbol' && layers[i].layout['text-field']) {
          labelLayerId = layers[i].id;
          break;
        }
      }

      map.addSource('openmaptiles', {
        url: `https://api.maptiler.com/tiles/v3/tiles.json?key=${MAPTILER_KEY}`,
        type: 'vector',
      });

      map.addLayer({
          'id': '3d-buildings',
          'source': 'openmaptiles',
          'source-layer': 'building',
          'type': 'fill-extrusion',
          'minzoom': 15,
          'paint': {
            'fill-extrusion-color': [
              'interpolate',
              ['linear'],
              ['get', 'render_height'], 0, 'lightgray', 200, 'royalblue', 400, 'lightblue'
            ],
            'fill-extrusion-height': [
              'interpolate',
              ['linear'],
              ['zoom'],
              15,
              0,
              16,
              ['get', 'render_height']
            ],
            'fill-extrusion-base': ['case',
              ['>=', ['get', 'zoom'], 16],
              ['get', 'render_min_height'], 0
            ]
          }
        },
        labelLayerId
      );
      map.addControl(
        new MaplibreGeocoder(geocoderApi, {
          maplibregl
        })
      );
    });
  </script>
{% endblock inline_javascript %}
